{% extends 'base.html' %}
{% block title %}Search Terminal{% endblock %}

{% block content %}
    <center><h2 class="page-title">CLAIM YOUR SEAT</h2></center>

    <form action="/search" method="POST" style="border-top: 4px solid #004b87;">
        <label for="phone_number"><strong>Enter Mobile Number:</strong></label>
        <input type="text" id="phone_number" name="phone_number" required placeholder="Mobile Number">

        <label for="dob"><strong>Enter Date of Birth (dd/mm/yyyy):</strong></label>
        <input type="date" id="dob" name="dob" required placeholder="dd-mm-yyyy">
        
        <div class="checkbox-container">
            <input type="checkbox" id="has_members" name="has_members">
            <label for="has_members" style="margin-bottom: 0;"><strong>Are there members accompanying you?</strong></label>
        </div>

        <div id="members_dropdown" style="display: none;">
            <label for="member_count"><strong>Number of accompanying members:</strong></label>
            <select id="member_count" name="member_count">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <button type="submit">Search</button>
    </form>

    <a href="{{ url_for('dashboard') }}" class="admin-link">Admin Dashboard</a>

    <script>
        const checkbox = document.getElementById('has_members');
        const dropdownDiv = document.getElementById('members_dropdown');
        checkbox.addEventListener('change', function() {
            dropdownDiv.style.display = this.checked ? 'block' : 'none'; 
        });
    </script>
{% endblock %}